@font-face {
    font-family: kaoly;
    src: url(imagens/Kaoly\ Demo-Regular.ttf);
}

@font-face {
    font-family: ladybug;
    src: url(imagens/Ladybug\ Love\ -\ TTF.ttf);
}

body{
    margin: 10px;
    padding: 0;
    background: #FFD1DC;
}

a{
    text-decoration: none;
}

#container{
    width: 80%;
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1500px;
}

#topo{
    background: url(imagens/topo2.jpg) no-repeat;
    background-size: 1000px 100%;
    height: 360px;
    font-family: kaoly;
}

#topolateral{
    background: url(imagens/download.png) no-repeat right;
    background-size: 600px 360px;
    height: 360px;
}

#conteudo-topo-lateral{
    width: 500px;
    height: 360px;
    float: right;
    overflow: hidden;
}


#local{
    color: #905D5D ;
    margin: 20px 0px;
    border-top: 1px #905D5D  solid;
    border-bottom: 1px #905D5D  solid;
    font-size: 0.8em;
    padding: 10px 0 10px 0;
    width: 480px;
}

.local2{
    margin-right: 73px;
}

.reservar{
    color: white;
    background-color: #905D5D;
    padding: 5px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#lateral{
    float: left;
}

#lateral li{
    margin-bottom: 20px;
}

#lateral a{
    color: #905D5D;
}

.imagem{
    float: right;
    padding-right: 20px;
    margin-top: -50px;
}

#conteudo1{
    float: left;
    background: #FFB7C5;
    width: 49.5%;
    margin-top: 10px;
    height: 400px;
}

#conteudo2{
    float: right;
    width: 49.5%;
    margin-top: 10px;
    background: #FFA6C9;
    height: 400px;
}

#conteudo2 li a img{
    float: left;
    margin: 0px;
    padding: 10px;
  }

#conteudo2 li{
    padding: 10px;
    height: auto;
    border-bottom:#DA2C43 1px solid;
}

#conteudo2 li:last-child {
    border-bottom: none; 
}

