@font-face {
    font-family: kaoly;
    src: url(imagens/Kaoly\ Demo-Regular.ttf);
}

@font-face {
    font-family: ladybug;
    src: url(imagens/Ladybug\ Love\ -\ TTF.ttf);
}

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

#container{
    width: 80%;
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1500px;
}

#topo{
    background: url(imagens/topo.jpg) no-repeat;
    background-size: 1000px 100%;
    height: 360px;
    font-family: kaoly;
}

#topolateral{
    background: url(imagens/topo-imagem-lateral2.png) no-repeat right;
    background-size: 600px 360px;
    height: 360px;
}

#conteudo-topo-lateral{
    width: 500px;
    height: 360px;
    float: right;
}


#local{
    color: #af2da4;
    margin: 20px 10px;
    border-top: 1px #af2da4 solid;
    border-bottom: 1px #af2da4 solid;
    font-size: 0.8em;
    padding: 10px 0 10px 0;
    width: 450px;
}

.local2{
    margin-right: 43px;
}

.reservar{
    color: white;
    background-color: #af2da4;
    padding: 5px;
}